.categorie {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  width: calc(20% - 20px);
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.categorie:hover {
  border: solid 4px #2d7cfb;
  border-radius: 10px;
}

.categorie a {
  color: #ffffff;
  text-decoration: none;
}

.categorie p {
  padding: 20px;
  text-align: center;
}

.categorie-link {
  width: 100%;
}
